body, html {
    height: 100%;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-size: cover;
    background: #1d282a url("../images/forest.jpg") no-repeat center;
}

html {
    overflow-y: hidden;
}

#header {
    background-color: #3d3a3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0,0, 0.3);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#nav-bar {
    list-style-type: none;
    padding: 0;
}

li {
    display:inline-block;
}

li a {
    color: white;
    display: inline-block;
    font-size: 24px;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    width: 200px;
}

li a:hover {
    background-color: #575357;
}

.project {
    background-color: #3d3a3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0,0, 0.3);
    display: inline-block;
    height: 200px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}

.project img {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%)
}

.project p {
    color: white;
    font-size: 24px;
    left: 175px;
    position: absolute;
    top: 40px;
}

.footer {
    min-height: 100px;
    padding-bottom: 10px;
}

.project_image {
    height: 75%;
    width: 125px;
}