#name {
    bottom: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0,0, 0.3);
    left: 100px;
    position: absolute;
    text-align: center;
}

#name a {
    background-color: #3d3a3d;
    color: white;
    display: inline-block;
    font-size: 42px;
    padding: 30px 60px 30px 60px;
    text-decoration: none;
}

#name a:hover {
    background-color: #575357;
}