body {
    text-align: center;
}

.project {
    background-color: #3d3a3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0,0, 0.3);
    display: inline-block;
    height: 200px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}

.project img {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%)
}

.project p {
    color: white;
    font-size: 24px;
    left: 175px;
    position: absolute;
    top: 40px;
}

#pycalc_img {
    height: 75%;
    width: 125px;
}

#pygraph_img {
    height: 75%;
    width: 125px;
}